/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navbar {
    background-color: #ABC4FF; 
    padding: 15px;
    font-family:sans-serif;
}
.footer {
    background-color: #ABC4FF;
}

a  {
    text-decoration: none; /* para los links del footer*/
    color: white;
}
.Footer-Links:hover { 
    color:white;
    font-weight: bold;
    text-decoration: underline;

}